
.container-tab{
  margin: 0 auto;
  width:80%;
}

.getlinked-nav{
   background-color:rgba(24,14,43,255);

}
.logo-flex-tab{
   
  display:flex;
  justify-content:space-between;
  padding: 20px;

}
.logo-tab{
  width: 171px;
  height: 44px;
  top: 67px;
  left: 128px;

}
.logo-text{
  color:#FFFF;
  font-family: Clash Display;
  font-size: 36px;
  font-weight: 700;
  line-height: 44px;
  letter-spacing: 0em;
  text-align: left;


 }
.logo-span{
  color:#D434FE;
  font-family: Clash Display;
  font-size: 36px;
  font-weight: 700;
  line-height: 44px;
  letter-spacing: 0em;
  text-align: left;
  z-index: 1000;

}
ul{
 
  list-style: none;
  margin: auto;
  display: flex;
  gap:70px;
  font-family: Montserrat;
  font-size: 16px;
  font-weight: 400;
  line-height: 20px;
  color:#FFFF;
  letter-spacing: 0em;


}
.nav-flex{
  display: flex;
  gap:140px;
}
.Register-btn{
    width: 172px;
    height: 53px;
    top: 63px;
    left: 1212px;
    border-radius: 4px;
    font-family: Montserrat;
    color:#FFFF;
    font-size: 16px;
    font-weight: 400;
    line-height: 20px;
    letter-spacing: 0em;
    background: linear-gradient(270deg, #903AFF 0%, #D434FE 56.42%, #FF26B9 99.99%, #FE34B9 100%);
}
hr{
  border: 1px solid #FFFFFF2E
}









/****************************/
    /* MOBILE VIEW */
/****************************/
@media screen and (max-width:414px){



}